.home-description {
  font-style: cursive;
  font-weight:100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(149, 106, 13);
}
.nav-title {
  font-style: cursive;
  font-weight:100px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(149, 106, 13);
}
.nav-two {
font-style: cursive;
font-weight:100px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(149, 106, 13);
}
.add-new-song {
  
}